<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?error=non-existent&request=$1 [PT,L]

    RewriteCond %{REQUEST_FILENAME} (.*)\.php
    RewriteRule ^(.*)$ index.php?error=script-access&request=$1 [PT,L]



</IfModule>