<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ ../public/index.php?url=$1 [PT,L]

    RewriteCond %{REQUEST_FILENAME} (.*)\.php
    RewriteRule ^(.*)$ index.php?request=$1 [PT,L]



</IfModule>